<%- include('partials/header.ejs') %>
  <main class="p-6 flex justify-center flex-col items-center min-h-screen">
    <h1 class="text-6xl font-bold font-serif pt-4 text-yellow-500">Error 404</h1>
    <p class="text-2xl font-serif text-yellow-500 pt-4">Oops! Page Not Found</p>
    <a href="/" class="mt-6 bg-black text-yellow-500 rounded-md py-2 text-xl px-6">Go to Home</a>
<%- include('partials/footer.ejs') %>