<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>
  <main class="flex justify-center flex-col shadow-xl items-center mt-4">
    <h1 class="text-4xl font-bold font-serif pt-4">Home Added Successfully!</h1>
    <a href="/" class="text-yellow-500 hover:underline font-semibold font-serif text-3xl pb-4">Go to Home</a>
  </main>
<%- include('partials/footer.ejs') %>