<%- include('partials/header') %>
  <%- include('partials/navbar') %>
  <main class="flex justify-center flex-col shadow-xl items-center mt-4">
    <h1 class="text-4xl font-bold font-serif pt-4">Welcome, Member!</h1>
    <a href="/member" class="text-yellow-500 hover:underline font-semibold font-serif text-3xl pb-4">Go back to ID section</a>
    <a href="/host/add-home" class="text-yellow-500 hover:underline font-semibold font-serif text-3xl pb-4">Rent your Home</a>
  </main>
<%- include('partials/footer') %>